.titulo_principal {
  text-align: center;
  padding: 2rem;
}

.botao_menu {

  background-color: #000000; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.example-spacer {
  flex: 1 1 auto;
}
