.titulo_principal {
  text-align: center;
  padding: 2rem;
  color: white;
}

.botao_menu {

  background-color: #ffffff; /* Green */
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 1.2rem;
}

.example-spacer {
  flex: 1 1 auto;
}
